<!DOCTYPE html>
<html>
  <head>
    <title>KegCop Web > an API for KegCop > 2019</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "beer-background" %>
      <%= javascript_include_tag "bubbles" %>
      <% if Rails.env.production? %> 
        <%= render "shared/gtag" %>
      <% end %>
    </div>
  </body>
</html>
