<!DOCTYPE html>
<html>
  <head>
    <title>KegCop Web - an API for KegCop</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
      <%= javascript_include_tag "application" %>
      <%= javascript_include_tag "beer-background" %>
      <%= javascript_include_tag "bubbles" %>
      
      <% if Rails.env.production? %> 
        <%= javascript_include_tag "google-analytics" %>
      <% end %>
      
    </div>
  </body>
</html>
