<!DOCTYPE html>
<html>
  <head>
    <title>KegCop Web API - an API for KegCop</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
  </head>
  <body>
  <div class="wrapper">
    <%= render 'layouts/nav' unless @disable_nav %>

      <%= yield %>

      <%= render 'layouts/bubbles' %>

      <%= render 'layouts/footer' unless @disable_footer %>
    

  <%= render 'layouts/google_analytics' %>
  <%= render 'layouts/beer_background' %>
  </div>
  </body>
</html>
